body {
  background-color: rgb(200,0,0);
  color: rgb(255,255,0);
  font-family: Georgia, serif;
}
#inicio {
  left: 5%;
  
}
aside {
  background-color: rgb(125,0,0);
  text-align: center;
  left: 5%;
  width: 85%;
}
#multimedia {
  position: relative;
  left: 50%;
}
